#buddypress {
	div.item-list-tabs ul li a, 
	div.item-list-tabs ul li span{
		padding:@spacing/2;
		color:@white;
	}

	div.item-list-tabs ul li{
		border-right:1px solid @whiteTrans;
	}

	#item-nav{
		background: @secColor;
	}
 
	#item-body div.item-list-tabs ul li.selected a{
		padding: @spacing/4 @spacing/2;
    	font-size: 1.4rem;
	}

	#item-body{
		#subnav{
			a{
				color:@textColor;
				font-size: 1.2rem;
				padding: @spacing/4 @spacing/2;
			}

			li{
				border-right:1px solid @grey;

				&:first-child{
					border-left:1px solid @grey;
				}
			}
		}
	}

	div.item-list-tabs#subnav{
		margin: 0 0 @spacing/2 0;
	}
}

body.bp-user{
	margin-bottom: 0;
	background: @white;
	margin-bottom: 0;

	#buddypress #item-header{
		background: @white;
    	padding: @spacing @spacing 0;
	}

	#main{
		background: @grey!important;
	}

	#subnav{
		background: @white!important;
	}

	.profile .bp-widget{
		background: white;
    	padding: @spacing/4 @spacing @spacing;
    	margin-top: @spacing;
	}

	#activity-filter-select{
		.displayflex;
		.align-items(center);

		font-family: @baseFont;
		margin: 0 @spacing/2!important;
    	padding: @spacing/2 0 @spacing/2!important;
    	border: none!important;

    	label{
    		margin:0;
    		font-size: 1.3rem;
    		padding-right:@spacing/4;
    	}

    	.select-wrapper{
			width: auto;
		}

	}

	#activity-filter-by{
		font-size: 1.3rem;
	}

	#buddypress form#whats-new-form p.activity-greeting{
		line-height: @spacing;
	}

	.main-container{
		margin-top: @spacing;
		margin-bottom: @spacing*2.5;
	}

	#activity-stream{
		.bbp_reply_create,
		.activity-item{
			background: @white;
			padding:@spacing/2;
			margin-bottom: @spacing/2;

			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}

#buddypress #item-body form#whats-new-form{
	padding: @spacing/2;
	background: @secColor;
	color:@white;
	margin-bottom: @spacing;	
}

#buddypress div.activity-meta a{
	font-size: 1rem;
    background: @secColor;
    color: @white;
    border: none;

    &:hover,
    &:focus{
    	border:none;
    }

    span{
    	background: transparent;
    }
}

#buddypress .activity-list li.mini .activity-avatar img.avatar{
	height: auto;
	width: auto;
	margin-left: auto;
}

#buddypress .activity-list li.mini .activity-comments li{
    background: #e6e6e6;
    margin-top: @spacing/2;
    padding: @spacing/2;
}

#buddypress div.activity-comments ul{
	padding-left: 0;
}

#buddypress .activity-list li.mini{
	font-size: inherit;
}

#buddypress .acomment-options a{
	.border-radius(3px);
	background: @secColor;
	color:@white;
	padding: @spacing/8 @spacing/4;
}