.page-games-en-gadgets{
	.main-container{
		background: transparent!important;
	}

	.motopress-image-obj{
		.box-shadow(none);

		&:hover,
		&:focus{
			.scale(1);
		}

		@media @bp-TabletS{
			margin-bottom: @spacing;
		}	

		a{
			@media @bp-TabletS{
				.displayflex;
				.justify-content(center);

				margin-bottom: @spacing!important;
			}
		}

		img{
			@media @bp-TabletS{
				max-height: @spacing*12;
			}
		}
	}

	.motopress-row{
		.displayflex()!important;
		margin-bottom: @spacing;
		background: @white;
		padding:@spacing @spacing 0;

		@media @bp-TabletS{
			.flex-wrap(wrap);
			padding: @spacing @spacing/2 @spacing/2;
		}
	}

	.motopress-clmn{
		.displayflex()!important;
		.flex-direction(column);
		.flex-grow(1);

		.motopress-row{
			.displayflex;
			.flex-grow(1);
		}
	}

	.motopress-button-obj{
		a{
			@media @bp-TabletS{
				width: 100%;
				padding: 1.8rem @spacing/2;
			}
		}
	}
}