/* Menu items */
body.post-template-single-nieuws-php{
	#main-menu{
		a[href*=nieuws]{
			color:@black;
		}
	}
}

.header-logo img{
	.transition();
	max-width: 18rem;
	position: absolute;
	top: @spacing/2;
	left: @spacing/2;
}

#big-section .section-description{
	letter-spacing:@letterspacingMedium;
}

.container{
	position: relative;
}

.sf-menu>li{
	margin-left:@spacing*1.5;
}

.sf-menu>li>a{
	.transition();
	color:@white;
	font-family:@baseFont;
	font-size:@smallerHeadingSize;
	letter-spacing: 4px;

	@media @bp-DesktopL{
		font-size: 1.3rem;
	}
}

.sf-menu>li.menu-item-object-custom.current-menu-item.current>a,
.sf-menu>li.current_page_item>a,
.sf-menu>li.current-menu-item>a,
.sf-menu>li:hover>a{
	color:@black;
}

.site-header {
	background: @primColor;

	&.fixed {
		background: @primColorTrans;
		height: auto;

		.navbar {
			.transition();
			padding: 0;
			min-height: 0;
		}

		.sf-menu > li > a {
			padding: @spacing*0.75 0;
		}

		.header-logo img {
			max-width: 11rem;
			top: @spacing/4;
		}
	}
}

.site-main .form-control, 
.site-main input[type="text"], 
.site-main input[type="url"], 
.site-main input[type="email"], 
.site-main input[type="number"], 
.site-main input[type="password"], 
.site-main input[type="search"], 
.site-main input[type="tel"], 
.site-main select, 
.site-main textarea, 
.site-footer .form-control, 
.site-footer input[type="text"], 
.site-footer input[type="url"], 
.site-footer input[type="email"], 
.site-footer input[type="number"], 
.site-footer input[type="password"], 
.site-footer input[type="search"], 
.site-footer input[type="tel"], 
.site-footer select, 
.site-footer textarea, 
.main-header .form-control, 
.main-header input[type="text"], 
.main-header input[type="url"], 
.main-header input[type="email"], 
.main-header input[type="number"], 
.main-header input[type="password"], 
.main-header input[type="search"], 
.main-header input[type="tel"], 
.main-header select, 
.main-header textarea{
	font-family: @baseFont;
}

.main-container{
	margin-bottom:@spacing*2.5;
}

#footer{
	.site-logo{
		display: none;
	}

	#bbp-search-form{
		input{
			width: 100%;
		}
	}

	#bbp_search{
		margin-bottom: @spacing/2;
	}

	.contact-info{
		display: none;
	}

	.row{
		.displayflex;
	}

	.bp-menu{
		position: relative;
		border-bottom:1px solid rgba(255,255,255,0.1);
		padding-left: @spacing/4;
		padding-bottom: @spacing/2;
		padding-right: @spacing/2;

		&:before{
			.centerY;
			font-family: @iconFont;
			content:'b';
			right:@spacing/4;
		}
	}
}