.sf-menu>li>a{
	.transition();
	color:@white;
}

.site-header{
    background: @primColor;

	&.fixed{
		background: @primColorTrans;
		height:auto;

		.navbar{
			.transition();
			padding:0;
			min-height: 0;
		}

		.sf-menu>li>a {
			padding: @spacing*0.75 0;
		}

		.sf-menu>li.current_page_item a{
			color:@black;
		}
	}
}