.motopress-quotes,
.motopress-social-profile-obj,
.emmet .motopress-tabs-obj.ui-tabs,
.motopress-table-obj table,
.motopress-image-ob,
.motopress-grid-gallery-obj,
.motopress-google-chart,
.motopress-image-obj,
.motopress-google-map-obj,
.motopress-video-obj,
.emmet .motopress-social-profile-obj,
.emmet .motopress-share-buttons{
	margin-bottom: @spacing/2;
}

body.page-template-default{
	#main{
		background: @grey;
	}

	.main-container{
		background: @white;
		padding: @spacing;
	}

	.main-container{
		.flex-grow(0);
	}
}

body.registration{
	#main{
		background: transparent;
	}
}

.motopress-text-obj{
	h2{
		margin-bottom: @spacing/4;
		color:@secColor;
	}
}

.motopress-image-obj{
	.box-shadow(1px 1px 5px 1px rgba(0, 0, 0, 0.3));
	.transition;
	margin-bottom: 0;

	&:hover,
	&:focus{
		.scale(1.02);
	}
}

.motopress-text-obj{
	margin-top: -@spacing;

	p{
		margin-bottom: 0;
	}
}

.motopress-row {
	margin-bottom: @spacing/2;
}

article.category-nieuws{
	.displayflex;
	.flex-direction(column);

	* >{
		.flex-order(3);
	}

	.motopress-posts-grid-thumbnail{
		.flex-order(1);
		.box-shadow(1px 1px 5px 1px rgba(0, 0, 0, 0.3));
		margin-bottom: @spacing;

		&:hover,
		&:focus{
			.scale(1.02);
		}

		img{
			margin-bottom: 0;
		}
	}

	.motopress-posts-grid-title{
		margin-bottom:@spacing/2;
	}

	.motopress-posts-grid-content{
		margin-top: 0;
		margin-bottom:@spacing/2;
	}

	.motopress-posts-grid-meta{
		.flex-order(2);
		margin-bottom:@spacing/4;

		i{
			font-size:@smallerFontSize;
		}

		p{
			margin:0;
			&:after{
				content:''!important;
			}
		}
	}

	.motopress-posts-grid-more{
		margin:0 0 @spacing*2 0;
	}
}