body.post-template-single-nieuws-php,
body.post-template-single-tipsandtrick-php,
body.single-post{
	article.post{
		.entry-content{
			.displayflex;
			.flex-direction(column);
		}
	}

	#main-menu{
		a[href*=nieuws]{
			color:@black;
		}
	}

	.header-image.with-header-image{
		background-size:cover;
		background-position: center center;
	}

	p{
		margin-bottom: @spacing/2;
	}

	strong{
		color:@black;
		font-weight:bold;
		font-size:@smallHeadingSize;
	}

	.date{
		color:@secColor;
	}

	.meta-data{
		.displayflex;
		.justify-content(space-between);
	}

	.post .entry-footer,
	.portfolio .entry-footer,
	.post .entry-thumbnail{
		display: none;
	}

	.post-source{
		text-align: right;
		width: auto;
		color:@secColor;

		.source-link{
			color:@black;
			font-weight: bold;
		}
	}

	img.alignleft{
		margin:@spacing/2 @spacing @spacing/2 0;
	}

	img.alignright{
		margin:@spacing/2 0 @spacing/2 @spacing;
	}

	img.alignnone{
		width: 100%;
		padding:@spacing @spacing*2;
		margin:0;
	}

	article.post .entry-content{
		margin-bottom: 0;
		margin-top:@spacing/2;
	}

	iframe{
		.displayflex;
		.justify-content(center);
		margin:0 auto;
		max-width: 720px!important;
    	height: 405px;
	}
}

body.post-template-single-tipsandtrick-php{
	#main-menu{
		a[href*=nieuws]{
			color:@white;
		}

		a[href*=tips]{
			color:@black;
		}
	}
}