body.post-template-single-nieuws-php{
	.header-image.with-header-image{
		background-size:cover;
		background-position: center center;
	}

	strong{
		color:@black;
		font-weight:bold;
		font-size:@smallHeadingSize;
	}

	.date{
		color:@secColor;
	}

	.post .entry-footer,
	.portfolio .entry-footer,
	.post .entry-thumbnail{
		display: none;
	}
}